
<div class="error-container">
    <h1 class="error-heading">Oops! Something Went Wrong</h1>
    <p class="error-message">We're sorry, but it seems like there was an error. Please try again later or contact support.</p>
    <p class="error-message"><a class="go-back" href="/">Go back to the home page</a></p>
</div>